[LISTEN]
port = 6667
hostname = myhostname

[STRINGS]
motd_file = txt/MOTD
preface_file = txt/PREFACE

[AUTH]
passwd_file = auth/passwd
passwd_key = auth/passwd-key

[USERS]
data_dir=users/

[LOGS]
event_log=event-log
channels=channel1 channel2